@charset 'utf-8';

/* 전체설정 */
* {margin: 0;
padding: 0;}
a {text-decoration: none;
color: #000;}
ul, ol {list-style: none;}
img {vertical-align: bottom;}


/* 로고설정 */

h1 {position: fixed;
font-size: 50px;
left: 50px;
top: 50px;}

/* 네비설정 */

nav {position: fixed;
top: 50%;
left: 50px;
margin-top: -120px;
z-index: 999;}
nav ul {}
nav li {margin: 2px;}
nav li a {display: flex;
width: 200px;
height: 60px;
font-size: 14px;
align-items: center;
justify-content: flex-end;
border-bottom: 2px solid red;
transition: all 0.8s;}
nav li a:hover {border-color: black;
color: red;}
nav li.on>a {border-color: black;
color: red;}

/* 섹션설정 */

#wrap {position: relative;
z-index: 1;}
#wrap section {width: 100%;
height: 700px;
background-size: cover;
/* 화면 꽉채울거면 cover 화면 안짤리게 넣을거면 contain */
background-repeat: no-repeat;
background-position: right center;
position: relative;
z-index: 1;
overflow: hidden;}

section:nth-child(1) {background-image: url(../img/bg1.jpg);}
section:nth-child(2) {background-image: url(../img/bg2.jpg);}
section:nth-child(3) {background-image: url(../img/bg3.jpg);}
section:nth-child(4) {background-image: url(../img/bg4.jpg);}


/* 섹션별 움직이는 이미지 */
section img {position: absolute;}
/* 첫번째섹션 */
.p11 {bottom: 20px;
right: 20px;}
.p12 {bottom: 40px;
right: 130px;}
.p13 {top: 130px;
right: 60px;}

/* 두번째섹션 */
.p21 {bottom: 0;
    right: 50px;}
.p22 {bottom: -50px;
    right: 100px;}

/* 세번째섹션 */
.p31 {bottom: 0px;
right: 20px;}
.p32 {top: 120px;
right: 10px;}
.p33 {bottom: 120px;
    right: 20px;}